node_modules/


dist/
build/
.public/

.env
.env.*
!.env.example

npm-debug.log*
yarn-error.log
yarn-debug.log

.DS_Store

Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.nvmrc